---
http_interactions:
- request:
    method: get
    uri: https://teams-api.operto.com/api/v1/oauth/refresh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - VRS <SECRET_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"Access_Token":{"token":"test-token-value","Created":"202507200133","Expiry":"3600"}}'
  recorded_at: Sun, 20 Jul 2025 01:33:04 GMT
recorded_with: VCR 6.3.1
