---
http_interactions:
- request:
    method: post
    uri: https://teams-api.operto.com/api/v1/stafftasks
    body:
      encoding: UTF-8
      string: '{"TaskID":"44683131","StaffID":"41295","PropertyID":"110784"}'
    headers:
      Authorization:
      - VRS <SECRET_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"StaffTaskID":123456,"ReasonCode":200}'
  recorded_at: Thu, 16 Jan 2026 10:00:00 GMT
recorded_with: VCR 6.3.1
