---
http_interactions:
  - request:
      method: post
      uri: https://teams-api.operto.com/api/v1/tasks
      body:
        encoding: UTF-8
        string:
          '{"PropertyID":"110784","TaskRuleID":"27986","TaskName":"[TEST] -
          API spec create","TaskDescription":"Detailed test task","TaskStartDate":"2025-12-01","TaskDate":"2025-12-01","TaskStartTime":9,"TaskTime":9,"TaskCompleteByDate":"2025-12-02","TaskCompleteByTime":9}'
      headers:
        Authorization:
          - VRS <SECRET_TOKEN>
        Content-Type:
          - application/json
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json
        Allow:
          - GET, POST
      body:
        encoding: UTF-8
        string:
          '{"TaskID":44683131,"TaskName":"[TEST] - API spec create","TaskDescription":"Detailed
          test task","CreateDate":"20251110","TaskStartDate":"20251201","TaskStartTime":9,"TaskCompleteByDate":"20251202","TaskCompleteByTime":9,"TaskDate":"20251201","TaskTime":9,"PropertyID":110784,"PropertyBookingID":7797550}'
    recorded_at: Mon, 10 Nov 2025 09:26:09 GMT
recorded_with: VCR 6.3.1
