---
http_interactions:
- request:
    method: put
    uri: https://teams-api.operto.com/api/v1/tasks/44683131
    body:
      encoding: UTF-8
      string: '{"PropertyID":"110784","TaskRuleID":"27986","TaskName":"[TEST]
        - Updated task name (no files)","TaskDescription":"Updated task description","TaskStartDate":"2025-12-09","TaskDate":"2025-12-09","TaskStartTime":8,"TaskTime":8,"TaskCompleteByDate":"2025-12-09","TaskCompleteByTime":12}'
    headers:
      Authorization:
      - VRS <SECRET_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT
    body:
      encoding: UTF-8
      string: '{"TaskID":44683131,"TaskName":"[TEST] - Updated task name (no files)","TaskDescription":"Updated
        task description","CreateDate":"20251110","TaskStartDate":"20251209","TaskStartTime":8,"TaskCompleteByDate":"20251209","TaskCompleteByTime":12,"Completed":false,"CompleteConfirmedDatetime":null,"TaskDate":"20251209","TaskTime":8,"TaskTimeMinutes":null,"PropertyID":110784}'
  recorded_at: Mon, 10 Nov 2025 10:32:09 GMT
recorded_with: VCR 6.3.1
