---
http_interactions:
- request:
    method: post
    uri: https://teams-api.operto.com/api/v1/issues
    body:
      encoding: UTF-8
      string: '{"request":"{\"IssueID\":\"2181372\",\"Update\":true,\"ClosedDate\":\"20260415\"}"}'
    headers:
      Authorization:
      - VRS <SECRET_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Data Updated Successfully","Data":{"IssueID":"2181372","Update":true,"ClosedDate":"20260415"}}'
  recorded_at: Wed, 15 Apr 2026 02:35:24 GMT
recorded_with: VCR 6.4.0
