---
http_interactions:
- request:
    method: post
    uri: https://teams-api.operto.com/api/v1/oauth/login
    body:
      encoding: UTF-8
      string: '{"API_Key":"test","API_Value":"test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST
    body:
      encoding: UTF-8
      string: '{"Access_Token":{"token":"test-token-value","Created":"202507170417","Expiry":"3600"},"Refresh_Token":{"token":"test-token-value","Created":"202507170417","Expiry":"86400"}}'
  recorded_at: Thu, 17 Jul 2025 04:17:12 GMT
recorded_with: VCR 6.3.1
